<!-- Footer -->
<hr class="g-brd-gray-light-v4 my-0">

<footer class="container g-pt-100 g-pb-60">
    <div class="row justify-content-end">
        <div class="col-md-6">
            <a class="d-inline-block mb-4" href="/">
                <img class="g-width-150 g-height-auto" src="../static/img/logo/logo-word-full.png" alt="Image Description">
            </a>
            <p>Simplified cryptocurrency for the curious investor. We manage your digital assets so you have time to focus on what matters in life.</p>

        </div>

        <div class="col-md-3">
            <!-- Links -->
            <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13 mb-0">
                <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/">Home</a>
                </li>
                <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/about">About</a>
                </li>
                <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/funds">Funds</a>
                </li>
                <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/services">Services</a>
                </li>
            </ul>
            <!-- End Links -->
        </div>

        <div class="col-md-3">
            <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Follow Us On</h3>

            <!-- Social Icons -->
            <ul class="list-inline mb-0">
                <li class="list-inline-item g-mx-2">
                    <a href="https://medium.com/bindex-fund" target="_blank">
                      <img src="../static/img/icons/medium.png" style="width:50%">
                    </a>
                </li>
            </ul>
            <!-- End Social Icons -->
        </div>
    </div>
    <div class="row justify-content-end" style="float: left;padding: 1em;">
      <p style="font-size:10px;">* Diversification does not guarantee a profit or protect against market losses. Investment products carry risk and there is no guarantee that established portfolio goals will be met. Images are for illustrative purposes only. Any displayed symbols, quotes and charts are not recommendations or advice.</p>
    </div>
</footer>


<!-- Demo modal window -->


{% include 'modules/invest-modal.html' %}
<!-- End Demo modal window -->
<!-- <a class="js-go-to u-go-to-v1" href="home-page-4.html#!" data-type="fixed" data-position='{
"bottom": 15,
"right": 15
}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
</a> -->
