<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <!-- Title -->
    <title>Bindex Fund</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Icons -->
    <!-- <link rel="stylesheet" href="http://vinceg.github.io/twitter-bootstrap-wizard/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../static/css/get-started.css">
    <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap-3.3.css">
    <link rel="stylesheet" href="../static/vendor/icon-awesome/css/font-awesome.min.css">

</head>
