<!DOCTYPE html>
<html lang="en">

{% include 'modules/head.html' %}

<body>
    <main>


        {% include 'modules/header.html' %}


        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: &quot;fromtop&quot;, animation_duration: 25, direction: &quot;reverse&quot;}">
            <!-- Parallax Image -->
            <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url('../static/img/bg/about-header.jpg');background-position: 86px 2em;transform: translate3d(0px, -72.4499px, 0px);"></div>
            <!-- End Parallax Image -->

            <!-- Promo Block Content -->
            <div class="container g-color-white text-center g-py-120">
                <h3 class="h1 g-font-weight-600 text-uppercase mb-2">About us</h3>
            </div>
            <!-- Promo Block Content -->
        </section>

        <section class="container u-ns-bg-v1-bottom g-bg-white g-py-100">
            <div class="text-center" style="padding-left:15%; padding-right:15%">
                <h2 class="h5 g-line-height-1_8">We believe that <span class="g-brd-bottom g-brd-primary g-color-primary g-font-weight-600 pb-1">time</span> is life's most sacred resource, and we’re on a mission to help you spend it the way you want. As promising new investment opportunities enter the market, so does the need to spend time on research. Allow us to <span class="g-brd-bottom g-brd-primary g-color-primary g-font-weight-600 pb-1"> responsibly diversify</span> your portfolio by introducing you to a new asset - Cryptocurrency.
                      </h2>
            </div>
        </section>

        <hr class="g-brd-gray-light-v4 my-0">


        <section class="g-py-100 grey-background">
            <div class="container">
                <article class="row">
                    <!-- Article Content -->
                    <div class="col-lg-6 g-mb-30">
                        <header class="u-heading-v6-2 g-mb-20">

                            <h3 class="u-heading-v6__title g-color-gray-dark-v2 g-brd-primary text-uppercase g-font-weight-600 g-mb-15">Our History</h3>
                        </header>

                        <div class="g-pl-90--sm">
                            <p class="lead g-mb-40">We were early adopters of Bitcoin, back when they were $100 a coin. The technology was promising – but still had its downfalls. The next iteration of currencies made it very obvious – the future of money movement will be heavily influenced by cryptocurrencies. </p>
                            <p class="lead g-mb-40">We noticed this and wanted to diversify our own portfolios, so we began investing a small portion into several cryptocurrencies. After spending hours a day on research and following a known strategy of indexing, we saw better results. Then friends and family wanted in. We realized how difficult it was for average and sophisticated investors alike to purchase and securely manage cryptocurrencies, so why not offer the service to everyone. </p>

                        </div>
                    </div>
                    <!-- End Article Content -->

                    <!-- Article Image -->
                    <div class="col-lg-6 align-self-center">
                      <img class="img-fluid" src="../static/img/icons/screen.svg" alt="Iamge Description" style="display: block;margin: auto;max-width: 55%;">
                    </div>
                    <!-- End Article Image -->
                </article>
            </div>

            <div class="container" style="padding-top: 7em;">
                <article class="row">
                    <div class="col-lg-6 align-self-center">
                      <img class="" src="../static/img/icons/exchange.svg" alt="Iamge Description"  style="display: block;margin: auto;max-width: 55%;">
                    </div>
                    <div class="col-lg-6 g-mb-30">
                        <header class="u-heading-v6-2 g-mb-20">

                            <h3 class="u-heading-v6__title g-color-gray-dark-v2 g-brd-primary text-uppercase g-font-weight-600 g-mb-15">Our Background</h3>
                        </header>

                        <div class="g-pl-90--sm">
                            <p class="lead g-mb-40">The Bindex Fund team has an extensive background in the Financial Investing, and Technology space. Specifically around Security and Finance.</p>
                            <p class="lead g-mb-40">In addition to their professional background, they are both avid cryptocurrency and blockchain enthusiasts.</p>



                        </div>
                    </div>
                    <!-- End Article Image -->
                </article>
            </div>
        </section>

        <hr class="g-brd-gray-light-v4 my-0">

        <section class="container g-pt-100 g-pb-70">
            <div class="row justify-content-center g-mb-60">
                <div class="col-lg-7">
                    <!-- Heading -->
                    <div class="text-center">
                        <h2 class="h3 g-color-black text-uppercase mb-2">The Bindex Fund Team</h2>
                        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    </div>
                    <!-- End Heading -->
                </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-sm-6 g-mb-30">
                  <!-- Team Block -->
                  <div class="u-info-v1-2">
                      <!-- Figure -->
                      <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="https://media.licdn.com/media/AAEAAQAAAAAAAAvTAAAAJDg3ZWYxMmI2LTY5N2ItNDc5YS1iOTc0LTUzNjg0MTRmNjZhNg.jpg" alt="Image Description">
                          <!-- End Figure Image-->

                          <!-- Figure Caption -->
                          <figcaption class="u-block-hover__additional--fade g-bg-primary-opacity-0_9 g-pa-30">
                              <div class="u-block-hover__additional--fade u-block-hover__additional--fade-down g-flex-middle">
                                  <!-- Figure Social Icons -->
                                  <ul class="list-inline text-center g-flex-middle-item">
                                      <li class="list-inline-item align-middle g-mx-3">
                                          <a class="u-icon-v2 u-icon-size--sm g-font-size-default g-color-white g-color-primary--hover g-brd-white g-bg-white rounded-circle" href="https://www.linkedin.com/in/imanghanizada/">
                                              <i class="fa fa-linkedin"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item align-middle g-mx-3">
                                          <a class="u-icon-v2 u-icon-size--sm g-font-size-default g-color-primary g-brd-white g-bg-white rounded-circle" href="mailto:iman@bindexfund.com">
                                              <i class="fa fa-envelope-o"></i>
                                          </a>
                                      </li>
                                  </ul>
                                  <!-- End Figure Social Icons -->
                              </div>
                          </figcaption>
                          <!-- End Figure Caption -->
                      </figure>
                      <!-- End Figure -->

                      <!-- Figure Info -->
                      <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                              <h4 class="h5 g-color-black g-mb-5">Iman Ghanizada</h4>
                              <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Founder</em>
                          </div>
                          <p>Iman is an industry-leading security and technology leader with a passionate interest in wealth management. He led security tactics and strategy for the Investing subdivision of Capital One. </p>
                      </div>
                      <!-- End Figure Info-->
                  </div>
                  <!-- End Team Block -->
              </div>


              <div class="col-lg-3 col-sm-6 g-mb-30">
                  <!-- Team Block -->
                  <div class="u-info-v1-2">
                      <!-- Figure -->
                      <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/000/28e/23e/2428d78.jpg" alt="Image Description">
                          <!-- End Figure Image-->

                          <!-- Figure Caption -->
                          <figcaption class="u-block-hover__additional--fade g-bg-primary-opacity-0_9 g-pa-30">
                              <div class="u-block-hover__additional--fade u-block-hover__additional--fade-down g-flex-middle">
                                  <!-- Figure Social Icons -->
                                  <ul class="list-inline text-center g-flex-middle-item">
                                      <li class="list-inline-item align-middle g-mx-3">
                                          <a class="u-icon-v2 u-icon-size--sm g-font-size-default g-color-white g-color-primary--hover g-brd-white g-bg-white rounded-circle" href="https://www.linkedin.com/in/safahi/">
                                              <i class="fa fa-linkedin"></i>
                                          </a>
                                      </li>
                                  </ul>
                                  <!-- End Figure Social Icons -->
                              </div>
                          </figcaption>
                          <!-- End Figure Caption -->
                      </figure>
                      <!-- End Figure -->

                      <!-- Figure Info -->
                      <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                              <h4 class="h5 g-color-black g-mb-5">Alan Safahi</h4>
                              <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Advisor</em>
                          </div>
                          <p>Alan is a serial entrepreneur in the FinTech space of San Francisco. The Founder and CEO of ZED.Network, a Platform as a Service for Money Transfer Operators as well as ZipZap, Inc., a payment platform for moving money around the world.</p>
                      </div>
                      <!-- End Figure Info-->
                  </div>
                  <!-- End Team Block -->
              </div>

              <div class="col-lg-3 col-sm-6 g-mb-30">
                  <!-- Team Block -->
                  <div class="u-info-v1-2">
                      <!-- Figure -->
                      <figure class="u-block-hover">
                          <!-- Figure Image -->
                          <img class="w-100" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/000/1d8/17d/1ca82da.jpg" alt="Image Description">
                          <!-- End Figure Image-->

                          <!-- Figure Caption -->
                          <figcaption class="u-block-hover__additional--fade g-bg-primary-opacity-0_9 g-pa-30">
                              <div class="u-block-hover__additional--fade u-block-hover__additional--fade-down g-flex-middle">
                                  <!-- Figure Social Icons -->
                                  <ul class="list-inline text-center g-flex-middle-item">
                                      <li class="list-inline-item align-middle g-mx-3">
                                          <a class="u-icon-v2 u-icon-size--sm g-font-size-default g-color-white g-color-primary--hover g-brd-white g-bg-white rounded-circle" href="https://www.linkedin.com/in/stevemullinscfo/">
                                              <i class="fa fa-linkedin"></i>
                                          </a>
                                      </li>
                                  </ul>
                                  <!-- End Figure Social Icons -->
                              </div>
                          </figcaption>
                          <!-- End Figure Caption -->
                      </figure>
                      <!-- End Figure -->

                      <!-- Figure Info -->
                      <div class="g-bg-white g-py-25">
                          <div class="g-mb-15">
                              <h4 class="h5 g-color-black g-mb-5">Steve Mullins</h4>
                              <em class="d-block u-info-v1-2__item g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Advisor</em>
                          </div>
                          <p>Steve is a Managing Director at KBW Ventures as well as a CFO and Board Member at multiple companies. He has extensive experience in finance, audit, and accounting with an emphasis on Mergers & Acquisitions, Capital Raises, and Cryptocurrencies.</p>
                      </div>
                      <!-- End Figure Info-->
                  </div>
                  <!-- End Team Block -->
              </div>


            </div>

        </section>
        <!-- End Mockup Block -->



        {% include 'modules/footer.html' %}
        <!-- End Footer -->
    </main>

    <div class="u-outer-spaces-helper"></div>


    {% include 'modules/foot.html' %}

</body>

</html>
