<!DOCTYPE html>
<html lang="en">

{% include 'modules/head.html' %}

<body>
    <main>


        {% include 'modules/header.html' %}


        <section class="g-py-100">
            <div class="container">
                <header class="text-center g-width-60x--md mx-auto g-mb-60">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="h3 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-600">About Bindex Funds</h2>
                    </div>
                    <p class="lead">Our Bindex Fund (or Bindex for short) is a <strong>private investment vehicle</strong> that is an index of the top 15 cryptocurrencies, rebalanced periodically. It is currently limited to <strong>accredited investors</strong> only
                        with a $10,000 minimum investment, but we plan on expanding our offering to the masses in the coming time.</p>
                    <p class="lead">In your Bindex dashboard, you will <strong>purchase shares</strong> and have the ability to track your portfolio's metrics. In the future, we anticipate providing additional fund offerings, including an 
                        international investor fund.</p>

                </header>
            </div>
        </section>



        <!-- <section class="g-bg-secondary"> -->
        <section class="grey-background">
            <div class="container g-pt-100 g-pb-40">
                <div class="row justify-content-center g-mb-60">
                    <div class="col-lg-7">
                        <!-- Heading -->
                        <div class="text-center">
                            <h2 class="h3 g-color-black text-uppercase mb-2">Bindex Factors</h2>
                            <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                            <p class="lead mb-0">Bindex factors in several variables in its' Top-15 selection criteria, namely:</p>
                        </div>
                        <!-- End Heading -->
                    </div>
                </div>

                <!-- Icon Blocks -->
                <div class="row">
                    <div class="col-lg-6 align-self-center g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-30">
                            <div class="d-flex mr-4">
                                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                              <i class="icon-education-087 u-line-icon-pro"></i>
                            </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Market Capitalization</h3>
                                <p class="g-color-gray-dark-v4">The cryptocurrency coin's market capitalization plays a significant role in our portfolio distribution. We factor in the market cap, adjusted for inflation.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->

                        <!-- Icon Blocks -->
                        <div class="media g-mb-30">
                            <div class="d-flex mr-4">
                                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                              <i class="icon-education-035 u-line-icon-pro"></i>
                            </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Time in Market</h3>
                                <p class="g-color-gray-dark-v4">We only select coins that have a minimum history of at least three months in the market. Ongoing market research is applied to to ensure quality and consistency of the Bindex.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-6 align-self-center g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-30">
                            <div class="d-flex mr-4">
                                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                              <i class="icon-finance-256 u-line-icon-pro"></i>
                            </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Real Price</h3>
                                <p class="g-color-gray-dark-v4">Real Price factors in the variances in price of the coin on various exchanges, and minimizes impact that exchanges with major price deviations have on the coin's Real Price.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->

                        <!-- Icon Blocks -->
                        <div class="media g-mb-30">
                            <div class="d-flex mr-4">
                                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                              <i class="icon-finance-009 u-line-icon-pro"></i>
                            </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Trustworthiness</h3>
                                <p class="g-color-gray-dark-v4">We are constantly performing market research every major coin that exists or is potentially going to be added into our Bindex to ensure that there is a real-world utility, roadmap, trusted team, and use-case behind them.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <!-- <div class="col-lg-4 align-self-center g-mb-30">
                        <div class="g-px-10">
                            <img class="img-fluid" src="../static/img/icons/laptop.svg" alt="Image Description">
                        </div>
                    </div> -->
                </div>
                <!-- End Icon Blocks -->
            </div>
        </section>

        <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url('../static/img/bg/pattern5.png');">
            <div class="d-md-flex justify-content-md-center text-center">
                <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">Feeling a little more curious? It's time to jump onboard</p>
                </div>
                <div class="align-self-md-center">
                    <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" href="/get-started">Invest Now</a>
                </div>
            </div>
        </section>




        {% include 'modules/footer.html' %}
        <!-- End Footer -->

    </main>

    <div class="u-outer-spaces-helper"></div>


    {% include 'modules/foot.html' %}

</body>

</html>
